
html h1 {
	margin:0;
}

body {
	font-size: 14px;
	/*font-family: "helvetica Neue", Helvetica, Verdana, sans-serif;*/
	/*background-image: url("polaroid.png");*/
	font-family: Tahoma, Arial, Geneva, Verdana, sans-serif;
	background-color: #A8C4E8; 
	margin-left: 120px;
	margin-right: 120px;
	opacity:0.8;
}

.container {
	/*width:910px;*/
	margin-left:auto;
	margin-right:auto;
	background-color: #D9EEFF;
	/*background-image: url("cream_dust.png");*/
	/*background-image: url("cream_pixels.png");*/
	/*background-image: url("crossword.png");*/
	/*background-color: #FFF1DE;*/
  font-family: Tahoma, Arial, Geneva, Verdana, sans-serif;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	overflow: auto;
}

header {
	margin: 0 auto 0;
	padding: 0;
	clear: both;
	
	border-radius: 10px;
	/*width: 870px;   deleting to try the header spanning entire width*/
	height: 125px;
	text-align: center;
	opacity:0.9;
}
h1 {
	padding-top: 18px;
	opacity:0.8;
	font-family: cursive;

}
h3 {
	padding-top: 10px;
	margin: 4px;
	opacity:0.8;
	font-family: cursive;
}

p{
	margin: 4px;
	opacity:0.8;
}
hr.flare {
    height: 50px;
    border-style: ridge;
    border-color: gray;
    border-width: 2px 0 0 0;
    border-radius: 45px;
}
hr.flare:before {
    display: block;
    content: "";
    height: 50px;
    margin-top: -51px;
    border-style: ridge;
    border-color: gray;
    border-width: 0 0 2px 0;
    border-radius: 45px;
}

nav {
	float:left;
	width: 30%;
	/*border: 2px solid gray;*/
	height: 500px;
	width: 200px;
	margin-top: 20px;
	margin-left: 0;
	margin-right: 20px;
	/*background-color: red;*/
	border-radius: 10px;
	opacity:0.9;

}
ul {
	padding: 10px;
}
li {
	padding: 10px;
	margin: 5px;
	
	border-radius: 10px;
	list-style-type: none;
	display: inherit;
	background-color: white;
	opacity: 0.5;
}
a {
	text-decoration: none;
	color: black;
	text-align: center;

}
a:hover {
	color: #4E7AC7;
}
 a:active; {
	color: #4E7AC7;
}

#links li {
	border: none;


}
#links li a {
	color: blue;

}


/*.sidepic is not centering*/
.sidepic {
	position: relative;
	margin-left: 24px;
	opacity: 0.9;
}
.quote {
	text-align: center;
	padding: 12px;
	font-family: "script";
}
.content {
	margin:22px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}
.bodypic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-left:200px;
	opacity: 0.8;
}
.article {
	font-size: 20px;
	padding: 10px;
	margin-top: 16px;
	padding-top:1px;
	margin-left:185px;
	margin-right: 45px;
	opacity:0.8;
	
}

.feedback {
	float: left;
	margin-left: auto;
	margin-right: auto;
	margin-top:25px;
}

h2 {
	margin-top: 20px;
	opacity:0.7;
	font-family: cursive;
}


.map{
	float:left;
	text-align: left;
	padding: 10px;
	margin-left: 16px;
}

footer{
	font-size: .80em;
	min-height: 40px;
	text-align: center;
	margin:20px;
	clear: both;
	margin:10px;
	padding: 20px;

}
ul#toc {
	height: 2em;
	list-style: none;
	margin: 0;
	padding: 0;
}
ul#toc li{
	background: #bdf url(tabs.gif);
	float: left;
	margin:0 5px 0 0;
	padding-left:10px;
}
ul#toc a{
	background:url(tabs.gif) 100% 0;
	color: #008;
	float:left;
	line-height: 2em;
	padding-right: 10px;
	text-decoration: none;
}
ul#toc li.current a {
	background-position: 100% -60px;
	color: #fff;
	font-weight: bold;
}
.menu {
	/*border: #48f solid 3px;*/
	padding: 1em;
	margin-top:14px;
	width: 750px;
	


=======

}